/* TODO: make height/width dynamic based on viewport */
.login-graphic {
    width: 600px;
    height: 600px;
}

.login-poly {
    fill: #0ca8a0;
    fill-opacity: .8;
    stroke:black;
    stroke-width:2;
}

.login-line {
    stroke:black;
    stroke-width:2;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}