/* todo: make this dynamic */
.login-graphic {
    width: 600px;
    height: 600px;
}

.login-poly {
    fill: #0ca8a0;
    stroke-width:2;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}